ipykernel==5.2.0
ipympl==0.7.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jupyter==1.0.0
jupyter-client==6.1.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab-widgets==1.0.0
mne
braindecode
numpy
scipy